<%- include("partials/header") -%>


<div class="main-head">
    <div>
        <a class="primary-btn new-user-btn" href="/dashboard/<%=admin%>/newUser">Add User</a>
    </div>
    <div class="admin-detail">
        <h5><%=admin%></h5>
        <a class="primary-btn warning-btn" href="/">Log Out</a>
    </div>
</div>

<table class="user-details">
     <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Gender</td>
            <td>Status</td>
            <td>Last Updated</td>
            <td>Edit</td>
        </tr>
     </thead>
     <tbody>
        
        <% for(var i=0;i<users.length;i++){ %>
            <tr>
                <td><%=i+1%></td>
                <td><%=users[i].name%></td>
                <td><%=users[i].email%></td>
                <td><%=users[i].gender%></td>
                <td><%=users[i].status%></td>
                <td><%=users[i].updatedBy.userID%></td>
                <td>
                    <a href="/dashboard/<%=admin%>/<%=users[i]._id%>" class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></a>
                    <form class="null-form" method="post" action="/dashboard/<%=admin%>/<%=users[i]._id%>/?_method=DELETE">
                        <button type="submit" class="edit-btn"><i class="fa-solid fa-square-minus"></i></button>
                    </form>
                    
                </td>
            </tr>
        <% }%>
        
    </tbody>
</table>

<%- include("partials/footer") -%>